# This is a basic workflow to help you get started with Actions

name: arete

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy Stage
      uses: fjogeleit/http-request-action@v1
      with:
        url: 'https://cs.ttu.ee/services/arete/api/v2/exercise/'
        method: 'PUT'
        customHeaders: '{"Authorization": "Bearer ${{ secrets.TOKEN }}", "Content-Type": "application/json"}'
        data: '{"project":{"url":"git@github.com:jazzxoxo/enterbootcamp.git","path_with_namespace":"git@github.com:jazzxoxo/enterbootcamp"}}'
